<!DOCTYPE html>
<html>

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
        <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
        <meta content="utf-8" http-equiv="encoding">
        <title>Counting PWA</title>
        <!-- <link rel="stylesheet" type="text/css" href="vuetify.min.css"> -->
        <link rel="stylesheet" type="text/css" href="counting.css">
        <link rel="apple-touch-icon" sizes="180x180" href="icons/favicon.ico">
        <link rel="icon" type="image/png" sizes="192x192" href="./icons/favicon.ico">
        <link rel="icon" type="image/png" sizes="512x512" href="./icons/favicon.ico">
        <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    </head>
	<body>
		<div id="app">
			<v-app>
				<v-content>
                    <div v-if="page == 'login' ">
                        <div> <!-- App bar for login page -->
							<v-app-bar >
								<v-toolbar-title id="loginTitle" v-on:click="page='login' "><img id="bison" src="icons/greenBison.svg">Parks Count</v-toolbar-title>
							</v-app-bar>
                        </div>
                        <div class="formWrapper">
                            <div class="loginTitles">Login</div>
                            
                            <!-- <input class="inputs" placeholder="Park" type="text"> -->
                            <v-select class="parkSelect" v-model="parkField" :items="parks" label="Park"></v-select>
                            <div v-if="parkEmpty" v-bind:class="{parkReq: parkEmpty}">Required</div>
                            <div class="req" v-else>Required</div>

							<input class="inputs" v-model="passField" placeholder="Password" type="text">
                            <div v-if="passEmpty" v-bind:class="{passReq: passEmpty}">Required</div>
                            <div class="req" v-else>Required</div>
                            
                            <div class="right">
                                <button class="submitButton" v-on:click="loginClicked">Login</button>
                            </div>
						</div>
                    </div>
                    <div v-if="page == 'loggedin'">
                        <div> <!-- App bar for loggedin page -->
                            <v-app-bar >
                                <v-toolbar-title id="loginTitle" v-on:click="page='loggedin' "><img id="bison" src="icons/greenBison.svg">Parks Count</v-toolbar-title>
                            </v-app-bar>
                            <div class="pageWrapper">
                                <h2 id="date">{{todaysDate}}</h2>
                                <h1 id="parkTitle">{{currentPark}}</h1>
                            </div>
                        </div>
                    </div>
                </v-content>
            </v-app>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
        <script type="text/javascript" src="counting.js"></script>
    </body>
</html>
